.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem 2rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background: var(--bgColor);
	border-bottom: 1px solid var(--textColor);

	transition: all 0.3s;
	z-index: 100;
}

.header.slideUp {
	transform: translateY(-100%);
}

.header__logo {
	height: 3rem;
	flex: 0 0 3rem;

	background: var(--textColor);
	cursor: pointer;

	mask: url('../images/icons/logo.svg') no-repeat center center;
	-webkit-mask: url('../images/icons/logo.svg') no-repeat center center;
	mask-size: cover;
	-webkit-mask-size: cover;
}

.header__nav-list {
	display: flex;
}

.header__nav-item {
	position: relative;
	font-size: 1.6rem;
	font-weight: 300;
	cursor: pointer;
	color: transparent;
	overflow: hidden;
}

.header__nav-item:not(:first-child) {
	margin-left: 2.4rem;
}

.header__nav-item::before,
.header__nav-item::after {
	content: attr(data-text);
	position: absolute;
	left: 0;
	color: var(--textColor);
	transition: transform 0.3s;
}

.header__nav-item::before {
	top: 0;
}

.header__nav-item::after {
	top: 100%;
}

.header__nav-item:hover::before,
.header__nav-item:hover::after {
	transform: translateY(-100%);
}

/* @media (max-width: 768px) {
	
} */
