@import './reset.css';
@import './header.css';
@import './footer.css';
@import './section.css';
@import './about.css';
@import './skill.css';
@import './project.css';

:root {
	--bgColor: #d4caff;
	--textColor: #1e1e1e;
	--accentColor: #9747ff;

	font-size: 10px;
}

/* @media (max-width: 1200px) {
	:root {
		font-size: 9px;
	}
}

@media (max-width: 992px) {
	:root {
		font-size: 8px;
	}
}

@media (max-width: 768px) {
	:root {
		font-size: 7px;
	}
} */

:root.light {
	--bgColor: #d4caff;
	--textColor: #1e1e1e;
	--accentColor: #9747ff;
}

:root.dark {
	--bgColor: #1e1e1e;
	--textColor: #d4caff;
	--accentColor: #9747ff;
}

body {
	background: var(--bgColor);
	color: var(--textColor);
	transition: background 0.3s, color 0.3s;
}
