@import './reset.css';

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__btn {
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
	outline: none;
}

.footer__btn > img {
	width: 100%;
	height: 100%;
}

.footer__link-list {
	display: flex;
}

.footer__link-item:not(:first-child) {
	margin-left: 10px;
}
